.buttonDefault,
.buttonPrimary {
  opacity: 1;
  transition: 0.3s;
}

.buttonDefault {
  border: none; 
  border-radius: 5px;
  padding: 8px 10px;
  background-color: #f0f0f0;
}

.buttonPrimary {
  background-color: #2183f6;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
  border: none;
}

.buttonPrimary:hover,
.buttonDefault:hover {
  cursor: pointer;
  opacity: 0.6;
}

.buttonPrimary:disabled {
  background-color: #9ccaff;
}