.buttonDefault {
  border: none; 
  border-radius: 5px;
  padding: 8px 10px;
}

.buttonPrimary {
  background-color: #2183f6;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
  border: none;
}

.buttonPrimary:hover,
.buttonDefault:hover {
  cursor: pointer;
}

.buttonPrimary:disabled {
  background-color: #9ccaff;
}