.select {
  font-size: 10pt;
  position: relative;
  cursor: pointer;
}

.select .triggerDropdown {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  border: 1px solid #e1e1e1;
}

.select .triggerDropdown span {
  margin-right: 5px;
}

.select .triggerDropdown .downIcon {
  margin-left: auto;
}

.select .optionsOverlay {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #e1e1e1;
  background-color: white;
  position: absolute;
  min-width: 150px;
  z-index: 9999999;
}

.select .optionsOverlay .inputWrapper {
  margin: 10px;
}

.select .optionsOverlay ul {
  list-style: none;
}

.select .optionsOverlay ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  cursor: pointer;
}

.select .optionsOverlay ul li:hover {
  background-color: #e1e1e1;
}