.card {
  border: 1px solid #dad7d7;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 50vw;
  height: 400px;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.cardHeaderText {
  margin-left: 15px;
}

.cardHeaderDeleteIcon {
  margin-left: auto;
}