.card {
  border: 1px solid #dad7d7;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .header .gsheetIcon {
  padding: 2px 10px;
  background-color: #f0fbf0;
  border-radius: 5px;
}

.card .header .headerText {
  margin-left: 15px;
}

.card .header .deleteButton {
  margin-left: auto;
  padding: 7px 9px;
}

.card .header .deleteButton svg {
  width: 1.2em;
  height: 1.2em;
}
